# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [8]:
a = float(input("Enter lenth = ")) #taking lenth
b = float(input("Enter breadth = ")) #taking breadth

if a==b:
              print("It's a square")
else:
              print("It's not a square")

Enter lenth = 4
Enter breadth = 4
It's a square

# 2. Take three integer values from the user and print the greatest among them.

In [15]:
#taking all values
    
a = int(input("Enter the 1st number = "))
b = int(input("Enter the 2nd number = "))
c = int(input("Enter the 3rd number = "))
    
if a >= b and a >= c:#comapre among three numbers
        print("The largest number is =",a)
    
elif b >= a and b >= c:#comapre among three numbers
        print("The largest number is = ",b)
    
else:#rest of the number
        print("The largest number is =",c)

Enter the 1st number = 20
Enter the 2nd number = 25
Enter the 3rd number = 10
The largest number is =  25

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [1]:
total_class = int(input("Enter the number of total classes= "))
total_attendence = int(input("Enter the number of total attendence= "))

attendance = (total_attendence / total_class) * 100 #condition for percentence of classes

if attendance < 75:
    print("Student is not allowed to sit in the exam") # since attendnce is below 75
    
else:
    print("Student is allowed to sit in the exam") #condition is filled

Enter the number of total classes= 80
Enter the number of total attendence= 60
Student is allowed to sit in the exam

# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
given_marks = int(input("Enter marks: "))

if given_marks < 25:
    print("The grade is F")
elif given_marks >= 25 and given_marks <= 44:
    print("The grade is E")
elif given_marks >= 45 and given_marks <= 49:
    print("The grade is D")
elif given_marks >= 50 and given_marks <= 59:
    print("The grade is C")
elif given_marks >= 60 and given_marks <= 79:
    print("The grade is B")
elif given_marks >= 80 and given_marks <= 89:
    print("The grade is A")
else:
    print("The grade is A+")

Enter marks: 79
The grade is B

# 5. Print the following pattern using for and while loop.

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# using for loop

In [5]:
for i in range(7, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# using while loop

In [6]:
i = 7
while i >= 1:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 6. Display numbers from -100 to -10 using for loop.

In [2]:
for number in range(-100, -9):
    print(number, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [5]:
def is_prime(n): #define prime number
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

lower_limit = 10 #given number
upper_limit = 1000 #given number
prime_sum = 0

for num in range(lower_limit, upper_limit + 1): #summation operation
    if is_prime(num):
        prime_sum += num

print("The sum of prime numbers from 10 to 1000 ", prime_sum)

The sum of prime numbers from 10 to 1000  76110

# 9. Reverse a given integer number 27956240710.

In [6]:
number = 27956240710

# Convert the number to a string
number_str = str(number)

# Reverse the string
reversed_str = number_str[::-1]

# Convert the reversed string back to an integer
reversed_number = int(reversed_str)

print(reversed_number)

1704265972

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

# Using For Loop

In [7]:
# Initialize the first two elements of the series
fibonacci = [0, 1]

# Generate the Fibonacci series using a for loop
for i in range(2, 15):
    next_num = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_num)

# Display the Fibonacci series
for num in fibonacci:
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Using While Loop

In [8]:
# Initialize the first two elements of the series
fibonacci = [0, 1]
count = 2

# Generate the Fibonacci series using a while loop
while count < 15:
    next_num = fibonacci[count - 1] + fibonacci[count - 2]
    fibonacci.append(next_num)
    count += 1

# Display the Fibonacci series
for num in fibonacci:
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]

In [17]:

Li = [1, 3, 5, [2, 3], True]
#remove 2
Li[3].remove(2)
#add 3
Li[3].append(3)

Li[4] = False

print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [16]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)  # Using the intersection method

print(intersection_set)

{True}

# 15. Rename the key of a dictionary. 
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [18]:
dictionary = { "name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany" }

# Renaming the key
dictionary['region'] = dictionary.pop('country')

# Printing the new dictionary
print(dictionary)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [19]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame({'number': num})

print(df)

   number
0      10
1     100
2     300